@font-face {
  font-family: 'Avenir LT Pro';
  src: url('~@/assets/fonts/avenir-lt-pro/AvenirLTProLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Pro';
  src: url('~@/assets/fonts/avenir-lt-pro/AvenirLTProBook.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Pro';
  src: url('~@/assets/fonts/avenir-lt-pro/AvenirLTProRoman.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Pro';
  src: url('~@/assets/fonts/avenir-lt-pro/AvenirLTProMedium.woff')
    format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Pro';
  src: url('~@/assets/fonts/avenir-lt-pro/AvenirLTProHeavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Pro';
  src: url('~@/assets/fonts/avenir-lt-pro/AvenirLTProBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

// Oblique
@font-face {
  font-family: 'Avenir LT Pro';
  src: url('~@/assets/fonts/avenir-lt-pro/AvenirLTProLightOblique.woff')
    format('woff');
  font-weight: 300;
  font-style: oblique;
}

@font-face {
  font-family: 'Avenir LT Pro';
  src: url('~@/assets/fonts/avenir-lt-pro/AvenirLTProBookOblique.woff')
    format('woff');
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: 'Avenir LT Pro';
  src: url('~@/assets/fonts/avenir-lt-pro/AvenirLTProOblique.woff')
    format('woff');
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: 'Avenir LT Pro';
  src: url('~@/assets/fonts/avenir-lt-pro/AvenirLTProMediumOblique.woff')
    format('woff');
  font-weight: 600;
  font-style: oblique;
}

@font-face {
  font-family: 'Avenir LT Pro';
  src: url('~@/assets/fonts/avenir-lt-pro/AvenirLTProHeavyOblique.woff')
    format('woff');
  font-weight: 800;
  font-style: oblique;
}

@font-face {
  font-family: 'Avenir LT Pro';
  src: url('~@/assets/fonts/avenir-lt-pro/AvenirLTProBlackOblique.woff')
    format('woff');
  font-weight: 900;
  font-style: oblique;
}
